<h1>Editing employee</h1>

<%= render 'form' %>

<%= link_to '<i class="fa fa-eye"></i> Ver'.html_safe, @employee, class: "btn btn-default" %> |
<%= link_to '<i class="fa fa-arrow-left"></i> Voltar'.html_safe, employees_path, class: "btn btn-default" %>
