<h1>Editing task_type</h1>

<%= render 'form' %>

<%= link_to '<i class="fa fa-eye"></i> Ver'.html_safe, @task_type, class: "btn btn-default" %> |
<%= link_to '<i class="fa fa-arrow-left"></i> Voltar'.html_safe, task_types_path, class: "btn btn-default" %>
