<h1>Página inicial</h1>
<ul>
<% @entity_classes.each do |ec| %>
	<li>
		<%= link_to "<i class=\"fa fa-#{ec.second}\"></i> #{ec.first.to_s.classify.constantize}".html_safe, polymorphic_path(ec.first), class: "btn btn-info" %>
	</li>
<% end %>
</ul>
