<h1>Criando <%= (:responsibility).to_s.classify.constantize.label %></h1>

<%= render 'form' %>

<%= link_to '<i class="fa fa-arrow-left"></i> Voltar'.html_safe, responsibilities_path, class: "btn btn-default" %>
