<h1>Editing place_type</h1>

<%= render 'form' %>

<%= link_to '<i class="fa fa-eye"></i> Ver'.html_safe, @place_type, class: "btn btn-default" %> |
<%= link_to '<i class="fa fa-arrow-left"></i> Voltar'.html_safe, place_types_path, class: "btn btn-default" %>
