var resources = [];
var resourcesCount = 0;

var replaceOptions = function(selectTag, options, prompt) {
  selectTag.empty().append('<option value="">' + prompt + '</option>');
  for (var i = 0 ; i < options.length ; i++) {
    selectTag.append('<option value="' + options[i][0] + '">' + options[i][1] + '</option>');
  }
}

var whenPickingTaskDomain = function() {
  var domainId = $("#task_domain_id option:selected").val();
  if (domainId == "")
    return null;
  $.ajax({
    url: "<%= Rails.application.routes.url_helpers.pick_domain_tasks_path %>",
    type: "GET",
    data: ("domain_id=" + domainId),
    success: function(data, textStatus, xhr) {
      replaceOptions($("#task_task_type_id"), data.task_types, data.task_types_prompt);
      replaceOptions($("#task_employee_id"), data.employees, data.employees_prompt);
    },
    error: function() {
      alert("Erro ao carregar dados relativos ao domínio de tarefa.");
    }
  });
}

var whenPickingTaskType = function() {
  var typeId = $("#task_task_type_id option:selected").val();
  if (typeId == "")
    return null;
  $.ajax({
    url: "<%= Rails.application.routes.url_helpers.pick_type_tasks_path %>",
    type: "GET",
    data: ("type_id=" + typeId),
    success: function(data, textStatus, xhr) {
      replaceOptions($("#task_place_id"), data.places, data.places_prompt);
    },
    error: function() {
      alert("Erro ao carregar dados relativos ao tipo de tarefa.");
    }
  });
}

var whenPickingResource = function(params) {
  var index = params.data;
  var identifier = "#resource_" + index;
  var qtyIdentifier = identifier + "_qty";
  var resourceId = $(identifier).val();
  if (resourceId == "")
    return null;
  var selectQtyStr = "\n\t<select id='" + qtyIdentifier + "'>";
  var resourceIndex = null;
  for (var j = 0 ; j < resources.length ; j++)
    if (resources[j].id == resourceId)
      resourceIndex = j;
  for (var j = 0 ; j <= resources[resourceIndex].quantity ; j++) {
    if (j == 0)
      selectQtyStr = selectQtyStr + "\n\t\t<option>Quantidade...</option>";
    else
      selectQtyStr = selectQtyStr + "\n\t\t<option value='" + j + "'>" + j + "</option>";
  }
  if ($(qtyIdentifier).length > 0)
    $(qtyIdentifier).remove();
  $(identifier).parent().append(selectQtyStr);
}

var replaceResources = function(resourcesArray) {
  resources = resourcesArray;
  var selectStr = "<p class='text-center'>\n\t<select id='resource_1'>";
  selectStr += "\n\t\t<option value=''>Escolher um recurso externo...</option>";
  for (var i = 0 ; i < resources.length ; i++) {
    selectStr = selectStr + "\n\t\t<option value='" + resources[i].id + "'>" + resources[i].title + "</option>\n</p>";
  }
  $("#resources-select-group").append(selectStr);
  $(document).on("change", "#resource_1", 1, whenPickingResource);
  resourcesCount = 1;
}

var whenUsingResources = function() {
  $("#fetch-resources").append("<i class='fa fa-spinner fa-pulse'></i>");
  $.ajax({
    url: "<%= Rails.application.routes.url_helpers.list_products_tasks_path %>",
    type: "GET",
    success: function(data, textStatus, xhr) {
      replaceResources(data.resources);
      $("#fetch-resources").hide();
    },
    error: function(data, textStatus, xhr) {
      alert("Erro:\n" + $.parseJSON(xhr.responseText).errors);
    }
  });
}

$(document).on("change", "#task_domain_id",    whenPickingTaskDomain);
$(document).on("change", "#task_task_type_id", whenPickingTaskType);
$(document).on("click", "#fetch-resources",    whenUsingResources);
