var resources = [];
var nResourceSelectTags = 0;

var replaceOptions = function(selectTag, options, prompt) {
  selectTag.empty().append('<option value="">' + prompt + '</option>');
  for (var i = 0 ; i < options.length ; i++) {
    selectTag.append('<option value="' + options[i][0] + '">' + options[i][1] + '</option>');
  }
}

var whenPickingTaskDomain = function() {
  var domainId = $("#task_domain_id option:selected").val();
  if (domainId == "")
    return null;
  $.ajax({
    url: "<%= Rails.application.routes.url_helpers.pick_domain_tasks_path %>",
    type: "GET",
    data: ("domain_id=" + domainId),
    success: function(data, textStatus, xhr) {
      replaceOptions($("#task_task_type_id"), data.task_types, data.task_types_prompt);
      replaceOptions($("#task_employee_id"), data.employees, data.employees_prompt);
    },
    error: function() {
      alert("Erro ao carregar dados relativos ao domínio de tarefa.");
    }
  });
}

var whenPickingTaskType = function() {
  var typeId = $("#task_task_type_id option:selected").val();
  if (typeId == "")
    return null;
  $.ajax({
    url: "<%= Rails.application.routes.url_helpers.pick_type_tasks_path %>",
    type: "GET",
    data: ("type_id=" + typeId),
    success: function(data, textStatus, xhr) {
      replaceOptions($("#task_place"), data.places, data.places_prompt);
    },
    error: function() {
      alert("Erro ao carregar dados relativos ao tipo de tarefa.");
    }
  });
}

var selector = function(n, h, q) {
  var str = "";
  if (h)
    str += "#";
  str += "resource_" + n;
  if (q)
    str += "_qty";
  return str;
}

var rollbackSelectTags = function() {
  var ps = $("#resources-select-group").children();
  for (var i = 1 ; i <= ps.length ; i++) {
    $("#" + ps[i - 1].children[0].id).attr("id", selector(i, false, false));
    $("#" + ps[i - 1].children[1].id).attr("id", selector(i, false, true));
  }
}

var whenPickingResource = function(params) {
  var index = params.data;
  var before_change = $(this).data('pre');
  var i1 = selector(index, true, false);
  var i1 = selector(index, true, false);
  var i2 = selector(index, true, true);
  $(i1).siblings().first().empty();

  var resourceId = $(i1).val();
  if (resourceId == "") {
    if (nResourceSelectTags > 1) {
      nResourceSelectTags -= 1;
      $(i1).parent().remove();
    }
    rollbackSelectTags();
    return null;
  }

  var resourceIndex = null;
  var selectQtyStr = "";
  for (var j = 0 ; j < resources.length ; j++)
    if (resources[j].id == resourceId)
      resourceIndex = j;
  for (var j = 1 ; j <= resources[resourceIndex].quantity ; j++)
    selectQtyStr += "\n\t\t<option value='" + j + "'>" + j + "</option>";
  
  $(i2).append(selectQtyStr);
  if (before_change == "")
    addResourcesOption([]);
  $(this).data('pre', $(this).val());
}

var addResourcesOption = function(resourcesArray) {
  if (resources.length == 0 && resourcesArray.length > 0)
    resources = resourcesArray;
  nResourceSelectTags += 1;
  var index = nResourceSelectTags;

  var i1 = selector(index, false, false);
  var i2 = selector(index, false, true);
  var i3 = selector(index, true, false);
  var selectStr = "\n\t<select id='" + i1 + "' name='" + i1 + "'>";
  selectStr += "\n\t\t<option value=''>Escolher um recurso externo...</option>";
  for (var i = 0 ; i < resources.length ; i++) {
    selectStr = selectStr + "\n\t\t<option value='" + resources[i].id + "'>" + resources[i].title + "</option>";
  }
  selectStr += "\n\t</select>";

  var selectQtyStr = "\n\t<select id='" + i2 + "' name='" + i2 + "'></select>";
  
  $("#resources-select-group").append("\n<p>" + selectStr + selectQtyStr + "\n</p>");
  $(document).on("change", i3, nResourceSelectTags, whenPickingResource);
  $(i3).data('pre', $(i3).val());
}

var addResourcesDataToHiddenInput = function() {
  $("#resources-select-group").prepend("<input type='hidden' value='" +
      JSON.stringify(resources) + "' name='resource_0_all'/>");
}

var whenUsingResources = function() {
  $("#fetch-resources").append("<i class='fa fa-spinner fa-pulse'></i>");
  $.ajax({
    url: "<%= Rails.application.routes.url_helpers.list_products_tasks_path %>",
    type: "GET",
    success: function(data, textStatus, xhr) {
      addResourcesOption(data.resources);
      addResourcesDataToHiddenInput();
      $("#fetch-resources").hide();
    },
    error: function(data, textStatus, xhr) {
      alert("Erro:\n" + $.parseJSON(xhr.responseText).errors);
    }
  });
}

$(document).on("change", "#task_domain_id",    whenPickingTaskDomain);
$(document).on("change", "#task_task_type_id", whenPickingTaskType);
$(document).on("click", "#fetch-resources",    whenUsingResources);
