var replaceOptions = function(selectTag, options, prompt) {
	selectTag.empty().append('<option value="">' + prompt + '</option>');
	for (var i = 0 ; i < options.length ; i++) {
		selectTag.append('<option value="' + options[i][0] + '">' + options[i][1] + '</option>');
	}
}

var whenPickingTaskDomain = function() {
	$.ajax({
    url: "<%= Rails.application.routes.url_helpers.pick_domain_tasks_path %>",
    type: "GET",
    data: ("domain_id=" + $("#task_domain_id option:selected").val()),
    success: function(data, textStatus, xhr) {
      replaceOptions($("#task_task_type_id"), data.task_types, data.task_types_prompt);
      replaceOptions($("#task_employee_id"), data.employees, data.employees_prompt);
    }
  });
}

$(document).on("change", "#task_domain_id", whenPickingTaskDomain)